<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../public/css/main.css">
</head>
<div class="about-section">
    <h1>About Page</h1>
    <p>Meet the Team.</p>
    <p>We can offer your loved cats a home from home.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="Sarah" style="width:100%">
        <div class="container">
          <h2>Sarah</h2>
          <p class="title">Cat carer</p>
          <p>Some text that describes Sarah.</p>
          <p>Sarah's e-mail</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="Keeley" style="width:100%">
        <div class="container">
          <h2>Keeley</h2>
          <p class="title">Cat carer</p>
          <p>Some text that describes Keeley.</p>
          <p>Keeley's e-mail</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="" alt="Danielle" style="width:100%">
        <div class="container">
          <h2>Danielle</h2>
          <p class="title">cat carer</p>
          <p>Some text that describes Danielle.</p>
          <p>Danielle's e-mail</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
