<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../public/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <ul class="nav-bar">
          <div class="nav-one">
            <li class="list-inline-nav-bar-home"><a href="/Index.html">Home</a></li>
            <li class="list-inline-nav-bar"><a href="/views/suites.html">Suites</a></li>
            <li class="list-inline-nav-bar"><a href="/views/about.html">About</a></li>
            <li class="list-inline-nav-bar"><a href="/views/contact.html">Contact</a></li>
          </div>
          <div class="nav-two">
            <li class="list-inline-nav-bar-book-now"><a href="/views/book-now.html" style="color: white;">Book Now</a></li>
          </div>
        </ul>
      </nav>
    <h1 class="titles1">The Royal Mews Blog</h1>
    <h3 class="blog-subtitle">Our staff are passionate about all things cat!! Check out our top tips for cat care and how to make the most of your cat's hotel stay</h3>
    <div class="blog-post-container">
        <div class="blog-post-info">
            <p class="row1" style="font-weight: 900;">What are the best cat treats?</p>
            <p class="row1">Date: 04/01/2023</p>
            <p class="row1">Subject: cat care</p>
            <p class="row1">Author: Keeley</p>
        </div>
        <p style="font-weight: 900;">Post:</p>
        <p>Cats are beloved members of many families, and one of the ways to show them love and affection is through treats. However, not all treats are created equal. Some treats may be unhealthy, while others may not be well-suited to a cat's dietary needs. In this blog post, we'll discuss some of the best treats to give your feline friend.</p>
        <ol class="blog-order-list">
            <li class="blog-list">Fresh fruits and vegetables. Cats are obligate carnivores, which means that their diet should be primarily made up of meat. However, small amounts of fresh fruits and vegetables can be a healthy addition to their diet. Some great options include diced apple, blueberries, and cooked sweet potatoes.</li>
            <li class="blog-list">Cooked, plain chicken. Chicken is a great source of protein for cats, and cooking it yourself ensures that it is free from additives and preservatives. You can offer it as small slices or shreds as a treat.</li>
            <li class="blog-list">Fish. Cats love fish, and it's a great source of omega-3 fatty acids, which are beneficial for their skin and coat. Offer small pieces of cooked, plain fish, such as salmon or tuna.</li>
            <li class="blog-list">Store-bought cat treats. If you prefer to buy treats, look for ones that are made with natural, high-quality ingredients. Avoid treats that are high in sugar or contain artificial preservatives.</li>
            <li class="blog-list">Homemade cat treats. Another option is to make your own cat treats at home. Some easy recipes include mixing together cooked, mashed sweet potato and egg or grinding up cooked chicken or fish and forming the mixture into small meatballs.</li>
        </ol>
        <p>It's important to note that treats should be given in moderation, as they are not intended to replace a cat's regular diet. With a variety of healthy and delicious options, you can spoil your cat without compromising their health.</p>
        <p>Always remember to check with your Vet before introducing any new food item to your cat diet, some cats may have food allergies or other health condition that may not make them suitable for certain food item.</p>
    </div>
    
    <div class="blog-post-container">
        <div class="blog-post-info">
            <p class="row1" style="font-weight: 900;">Renovations in the Savannah Suite</p>
            <p class="row1">Date: 12/12/2022</p>
            <p class="row1">Subject: The Royal Mews</p>
            <p class="row1">Author: Keeley</p>
        </div>
        <p style="font-weight: 900;">Post:</p>
        <p>If you're a cat owner, you know how important it is to make sure your feline friend is comfortable and well-cared for while you're away. That's why we're excited to announce the newest renovations in our Savannah Suite!</p>
        <p>First, we've completely remodeled the sleeping areas to provide a more comfortable and spacious environment for your cat. Each room now features a cozy bed with soft, fluffy blankets, and plenty of natural light to keep your cat happy and relaxed.</p>
        <p>In addition, we've also added a variety of new enrichment activities to keep your cat entertained while they're away from home. Each room now has a scratching post, interactive toys, and a cozy window perch for your cat to lounge on.</p>
        <p>We've also given a special attention for the litter box area, to provide a clean, safe and comfortable space for cats to use. All litter boxes are cleaned multiple times a day, and we use an odor control litter.</p>
        <p>We understand how important your cat's comfort is, and we're committed to providing the best possible care while they're in our hotel.</p>
        <p>Don't hesitate to contact us for more information or to book a reservation for your beloved cat. We are looking forward to host you and your cat soon.</p>
    </div>
    <footer>
        <nav class="footer-nav-bar">
            <ul class="footer-nav-bar">
              <li class="footer-list-inline-nav-bar"><a href="/Index.html">The Hotel</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/suites.html">Suites</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/location.html">Location</a></li>
              <li class="footer-list-inline-nav-bar-the-royal-mews"><a href="/Index.html">THE ROYAL MEWS</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/about.html">About</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/blog.html">Blog</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/contact.html">Contact Us</a></li>
            </ul>
          </nav>
          <hr>
          <p class="footer-copyright-text">&#169; Sarah, Keeley and Danielle for CFG 2022</p>
        </footer>
</body>
</html>