<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <nav>
        <ul class="nav-bar">
          <div class="nav-one">
            <li class="list-inline-nav-bar-home"><a href="/Homepage.html">Home</a></li>
            <li class="list-inline-nav-bar"><a href="/views/suites.html">Suites</a></li>
            <li class="list-inline-nav-bar"><a href="/views/about.html">About</a></li>
            <li class="list-inline-nav-bar"><a href="/views/contact.html">Contact</a></li>
          </div>
          <div class="nav-two">
            <li class="list-inline-nav-bar-book-now"><a href="/views/book-now.html" style="color: white;">Book Now</a></li>
          </div>
        </ul>
      </nav>
    <header>
        <div class="book-now-welcome-section">
        <div class="book-now-welcome-text">
          <h1>One Step Closer to Your Pet's Perrfect Getaway...</h1>
        </div>
          <img class="book-now-welcome-image" src="https://i.chzbgr.com/full/9191487744/h720BC861/vac-cat-hotel-spa-china">
      </div>
      </header>
      <div class="booking-details-section">
        <div class="contact-title">
            <h1>Booking Details</h1>
            <h3>Please fill in the fields below to get one step closer to making that pet holiday pawsible.</h3>
        </div>
      </div>
      <div class="booking-divider-line"></div>
      <div class="room-details-section">
        <div class="contact-title">
            <h1>Room Details</h1>
        </div>
        <form name="form-id" id="form-id" action="/views/booking-confirmation.html">
        <div class="contact-form">
        <ul class="fields-bullets">
            <li>
                <label for="guests">Number of Guests:</label>
                <select name="guests" id="guests">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="six">6</option>
                <option value="seven">7</option>
                <option value="eight">8</option>
                <option value="nine">9</option>
                <option value="ten">10</option>
                </select>
            </li>
            <li>
                <label for="start-date">Checking In:</label>
                <input type="date" id="start-date" name="start-date" />
            </li>
            <li>
                <label for="end-date">Checking Out:</label>
                <input type="date" id="end-date" name="end-date" />
            </li>
          </ul>
          </div>
      </div>
      <div class="booking-divider-line"></div>
      <div class="billing-details-section">
        <div class="contact-title">
            <h1>Billing Information</h1>
        </div>
        <div class="contact-form">
            <ul class="fields-bullets">
                <li>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="user-name" />
                </li>
                <li>
                  <label for="name">Surname:</label>
                  <input type="text" id="user-surname" name="user-surname" />
              </li>
                <li>
                    <label for="address">Address:</label>
                    <input type="text" id="user-address" name="user-address" />
                </li>
                <li>
                    <label for="email">Email:</label>
                    <input type="email" id="user-email" name="user-email" />
                </li>
            </ul>
            </div>
            <ul class="submit-button-section">
              <li>
                <button class="submit-button" type="submit" name="save" value="save" form="form-id">Submit</button>
            </li>
            </ul>
        </form>
      </div>
      


      <footer>
        <nav class="footer-nav-bar">
            <ul class="footer-nav-bar">
              <li class="footer-list-inline-nav-bar"><a href="/Homepage.html">The Hotel</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/suites.html">Suites</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/location.html">Location</a></li>
              <li class="footer-list-inline-nav-bar-the-royal-mews"><a href="/Homepage.html">THE ROYAL MEWS</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/about.html">About</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/blog.html">Blog</a></li>
              <li class="footer-list-inline-nav-bar"><a href="/views/contact.html">Contact Us</a></li>
            </ul>
          </nav>
      <hr>
      <p class="footer-copyright-text">&#169; Sarah, Keeley and Danielle for CFG 2022</p>
    </footer>
</body>
</html>