<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
  <nav>
    <ul class="nav-bar">
      <div class="nav-one">
        <li class="list-inline-nav-bar-home"><a href="../index.html">Home</a></li>
        <li class="list-inline-nav-bar"><a href="./suites.html">Suites</a></li>
        <li class="list-inline-nav-bar"><a href="./about.html">About</a></li>
        <li class="list-inline-nav-bar"><a href="./contact.html">Contact</a></li>
      </div>
      <div class="nav-two">
        <li class="list-inline-nav-bar-book-now"><a href="./book-now.html" style="color: white;">Book Now</a></li>
      </div>
    </ul>
  </nav>

    <header>
        <div class="book-now-welcome-section">
        <div class="book-now-welcome-text">
          <h1>Booking Complete!</h1>
          <h2>Your cat's stay will arrive sooner than you can say Meow!</h2>
        </div>
          <img class="book-now-welcome-image" src="https://i.chzbgr.com/full/9191487744/h720BC861/vac-cat-hotel-spa-china">
      </div>
      </header>
      <div class="booking-details-section">
        <div class="contact-title">
            <h1>Booking Confirmation</h1>
            <h3>Please see the details below for your pet's stay. 
                We can guarantee that your pet will come home feline great!</h3>
        </div>
        <div class="booking-divider-line"></div>
        <div class="billing-details-section">
          <div class="contact-title">
              <h1>Booking Details</h1>
          </div>
        <div class="contact-form">
        <p id="br-guests"></p>
        <p id="br-start"></p>
        <p id="br-end"></p>
        </div>
      </div>
      <div class="booking-divider-line"></div>
      <div class="billing-details-section">
        <div class="contact-title">
            <h1>Billing Details</h1>
        </div>
        <div class="contact-form">
        <p id="br-name"></p>
        <p id="br-surname"></p>
        <p id="br-address"></p>
        <p id="br-email"></p>
        </div>
        <div class="print-button-section">
        <button class="print-button" onclick="window.print()">Print</button>
        </div>
      </div>

      <script>
        //Script to take form data from URL and present it on page//
      function getUrlVars() {
        let urlParams = {};
        (window.onpopstate = function () {
            let match,
                pl = /\+/g,  // Regex for replacing addition symbol with a space
                search = /([^&=]+)=?([^&]*)/g,
                decode = function (s) {
                    return decodeURIComponent(s.replace(pl, " "));
                },
                query = window.location.search.substring(1);
                
                while (match = search.exec(query)) {
                  if (decode(match[1]) in urlParams) {
                    if (!Array.isArray(urlParams[decode(match[1])])) {
                    urlParams[decode(match[1])] = [urlParams[decode(match[1])]];
                    }
                  urlParams[decode(match[1])].push(decode(match[2]));
                  } else {
                    urlParams[decode(match[1])] = decode(match[2]);
                  }
                }
               })();
               return urlParams;
              }
              document.getElementById("br-guests").innerHTML = 'Guests: ' + getUrlVars()['guests'];
              document.getElementById("br-start").innerHTML = 'Checking In: ' + getUrlVars()['start-date'];
              document.getElementById("br-end").innerHTML = 'Checking Out: ' + getUrlVars()['end-date'];
              document.getElementById("br-name").innerHTML = 'Name: ' + getUrlVars()['user-name'];
              document.getElementById("br-surname").innerHTML = 'Surname: ' + getUrlVars()['user-surname'];
              document.getElementById("br-address").innerHTML = 'Address: ' + getUrlVars()['user-address'];
              document.getElementById("br-email").innerHTML = 'Email: ' + getUrlVars()['user-email'];
      </script>

<footer>
  <nav class="footer-nav-bar">
      <ul class="footer-nav-bar">
        <li class="footer-list-inline-nav-bar"><a href="../index.html">The Hotel</a></li>
        <li class="footer-list-inline-nav-bar"><a href="./suites.html">Suites</a></li>
        <li class="footer-list-inline-nav-bar"><a href="./location.html">Location</a></li>
        <li class="footer-list-inline-nav-bar-the-royal-mews"><a href="./index.html">THE ROYAL MEWS</a></li>
        <li class="footer-list-inline-nav-bar"><a href="./about.html">About</a></li>
        <li class="footer-list-inline-nav-bar"><a href="./blog.html">Blog</a></li>
        <li class="footer-list-inline-nav-bar"><a href="./contact.html">Contact Us</a></li>
      </ul>
    </nav>
<hr>
<p class="footer-copyright-text">&#169; Sarah, Keeley and Danielle for CFG 2022</p>
</footer>
</body>
</html>