<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing Information</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
        <nav>
            <ul class="nav-bar">
              <div class="nav-one">
                <li class="list-inline-nav-bar-home"><a href="/Homepage.html">Home</a></li>
                <li class="list-inline-nav-bar"><a href="/views/suites.html">Suites</a></li>
                <li class="list-inline-nav-bar"><a href="/views/about.html">About</a></li>
                <li class="list-inline-nav-bar"><a href="/views/contact.html">Contact</a></li>
              </div>
              <div class="nav-two">
                <li class="list-inline-nav-bar-book-now"><a href="/views/book-now.html" style="color: white;">Book Now</a></li>
              </div>
            </ul>
          </nav>
        <header>
            <div class="book-now-welcome-section">
            <div class="book-now-welcome-text">
              <h1>One Step Closer to Your Pet's Perrfect Getaway...</h1>
            </div>
              <img class="book-now-welcome-image" src="https://i.chzbgr.com/full/9191487744/h720BC861/vac-cat-hotel-spa-china">
          </div>
          </header>
          <div class="booking-details-section">
            <div class="section-title">
                <h1>Booking Details</h1>
                <h3>Please fill in the fields below to get one step closer to making that pet holiday pawsible.</h3>
                <h5>Page 2 of 2</h5>
            </div>
          </div>
          <hr>
          <div class="billing-details-section">
            <div class="section-title">
                <h1>Billing Information</h1>
            </div>
            <form action="/views/booking-confirmation.html" method="post">
                <ul>
                    <li>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="user-name" />
                    </li>
                    <li>
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="user_address" />
                    </li>
                    <li>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="user_email" />
                    </li>
                    <li class="button">
                        <button type="submit">Submit</button>
                    </li>
                </ul>
            </form>
          </div>
    
    
          <footer>
            <nav class="footer-nav-bar">
                <ul class="footer-nav-bar">
                  <li class="footer-list-inline-nav-bar"><a href="/Homepage.html">The Hotel</a></li>
                  <li class="footer-list-inline-nav-bar"><a href="/views/suites.html">Suites</a></li>
                  <li class="footer-list-inline-nav-bar"><a href="/views/location.html">Location</a></li>
                  <li class="footer-list-inline-nav-bar-the-royal-mews"><a href="/Homepage.html">THE ROYAL MEWS</a></li>
                  <li class="footer-list-inline-nav-bar"><a href="/views/about.html">About</a></li>
                  <li class="footer-list-inline-nav-bar"><a href="/views/blog.html">Blog</a></li>
                  <li class="footer-list-inline-nav-bar"><a href="/views/contact.html">Contact Us</a></li>
                </ul>
              </nav>
          <hr>
          <p class="footer-copyright-text">&#169; Sarah, Keeley and Danielle for CFG 2022</p>
        </footer>
    
</body>
</html>