@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

p {
    font-weight: 300;
}

/*---upper navbar styling---*/
.nav-bar {
    background-color: #FFFFFF;
    color: #000;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-one {
    display: flex;
}

.nav-two {
    margin-right: 40px;
}

.list-inline-nav-bar-home {
    margin-right: 45px;
    margin-left: 30px;
    font-weight: 800;
    padding: 1em;
}

.list-inline-nav-bar-home:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    text-decoration: underline;
}

.list-inline-nav-bar {
    margin-right: 30px;
    padding: 1em;
}

.list-inline-nav-bar:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    text-decoration: underline;
}

.list-inline-nav-bar-book-now {
    background-color: black;
    border-radius: 5px;
    padding: 1em;
    padding-left: 15px;
    padding-right: 15px;
}

.list-inline-nav-bar-book-now:hover {
    background-color: rgb(79, 79, 79);
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}   

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}
    
    
/*Homepage Welcome Section*/
    
.welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome-text {
    text-align: left;
    float: left;
    margin: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.welcome-take-a-look-button {
    background-color: #000;
    border-radius: 5px;
    padding: 0.3em;
    text-align: center;
    width: 10em;
    height: 3em;
}

.welcome-take-a-look-button:hover {
    background-color: rgb(79, 79, 79);
    font-family: 'Roboto', sans-serif;
}   

.welcome-image {
    float: right;   
    margin: 5em;
    width: 40em;
    height: 30em;
    padding-top: 5em;
    padding-bottom: 5em;
}

/*Homepage Intro Section*/
.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.intro-text {
    text-align: left;
    float: left;
    margin: 5em;
}

.intro-suite-bullets-text {
    padding: 0.3em;
}

.intro-image {
    float: right;   
    margin: 5em;
    width: 45em;
    height: 30em;
}

/*Homepage Suites Image Gallery*/

.other-suites-para-homepage {
    text-align: center;
    margin-left: 25em;
    margin-right: 25em;
}


/*Homepage Review Section*/

.carousel-title-homepage {
    text-align: center;

}


/*Homepage Find Us Section*/

.find-us-section {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

/*---button styling---*/
.outline-button {
    margin-top: 100px;
    border: 2px solid black;
    padding: 1em;
    border-radius: 5px;
}

.outline-button:hover {
    background-color: rgb(196, 196, 196);
}

.small-button {
    border: 2px solid black;
    padding: 0.4em;
    border-radius: 5px;
}

.small-button:hover {
    background-color: rgb(196, 196, 196);
}

/*---suites styling---*/
.titles1 {
   margin-left: 2em;
   margin-top: 2em;
   margin-bottom: 1em;
}

.suites-one {
    display: flex;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.suites-one-text {
    margin-top: 20px;
    margin-right: 120px;
}

.suites-one-text1 {
    background-color: antiquewhite;
}

.other-suites {
    text-align: center;
    padding-top: 2em;
}

.other-suites-para {
    margin-left: 25em;
    margin-right: 25em;
}

.other-suites-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.other-suites-one {
    margin: 2em;
}

.row-container {
    display: flex;
    margin: 75px;
}

.row-image {
    margin-right: 30px;
}

.row-text {
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    margin-top: 1em;
}

.bottom-title {
    margin-top: 75px;
    margin-left: 75px;
}

.bottom-text {
    margin-left: 75px;
}

/*---review carousel styling---*/
.carousel-title {
    margin-left: 75px;
}

.slideshow-container {
    position: relative;
    background: #d4d4d4f1;
    margin-left: 75px;
    margin-right: 75px;
}
  
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
  .dot-container {
    text-align: center;
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
    background: rgb(233, 233, 233);
    margin-bottom: 2em;
}
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

  .active, .dot:hover {
    background-color: #717171;
}
  
  q {
    font-style: italic;
}

  /*---contact page styling---*/
  .contact-title {
    margin-left: 3.5em;
}

  .contact-form {
    background-color: #d4d4d4f1;
    border-radius: 5px;
    padding: 2em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
}

  input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

  textarea {
    font-family: 'Roboto', sans-serif;
    resize: vertical;
}

  input[type=submit] {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-radius: 5px;
    padding: 1.5em;
    width: 20%;
    background-color: #000000;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

  input[type=submit]:hover {
    background-color: rgb(79, 79, 79);
}

/*---Blog Page Styling---*/
.blog-subtitle {
    margin-left: 3.5em;
}

.blog-post-info {
    display: flex;
}

.row1 {
    margin-right: 2em;
}

.blog-post-container {
    background-color: rgb(196, 196, 196);
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 5px;
}

/*---About Styling---*/
.card-container {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 2em;
}

/*Book Now/Booking Confirmation Page Styling*/
.book-now-welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.book-now-welcome-text {
    text-align: left;
    float: left;
    margin: 5em;
    padding-top: 15em;
    padding-bottom: 5em;
} 

.book-now-welcome-image {
    float: right;   
    margin: 5em;
    width: 40em;
    height: 30em;
    padding-top: 5em;
}

.section-title {
    text-align: center;
}


.fields-bullets {
    list-style-type: none;
}

#guests {
    padding: 2px;
    margin: 1em;
    padding-right: 48px;
}

#start-date {
    padding: 2px;
    margin: 1em;
    padding-right: 10px;
}

#end-date {
    padding: 2px;
    margin: 1em;
}

.submit-button-section {
    list-style-type: none;
    margin-left: 50px;
    text-align: center;
}

.submit-button {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-radius: 5px;
    padding: 1.5em;
    width: 20%;
    background-color: #000000;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgb(79, 79, 79);
}

.br-section {
    text-align: center;
}

.print-button-section {
    list-style-type: none;
    margin-left: 50px;
    text-align: center;
    padding-bottom: 1em;
}

.print-button {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-radius: 5px;
    padding: 1.5em;
    width: 20%;
    background-color: #000000;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.print-button:hover {
    background-color: rgb(79, 79, 79);
}

.booking-divider-line {
    border: 1px solid black;
    width: 60%;
    margin-left: 60px;
}

#br-guests {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#br-start {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#br-end {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#br-name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#br-surname {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#br-address {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

#br-email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}


/*Location Page Styling*/
.location-title-section-text {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
}

.location-img {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 2em;

}

.google-maps-location-section {
    text-align: center;
    padding-bottom: 5em;
}

.transport-info {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
}


/*Footer Nav Bar*/
.footer-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-inline-nav-bar {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footer-list-inline-nav-bar-the-royal-mews {
    margin: 0;
    font-weight: 900;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footer-list-inline-nav-bar-the-royal-mews:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    text-decoration: underline;
}

.footer-list-inline-nav-bar:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
    text-decoration: underline;
}



/*Footer Divider Line*/
hr {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 60%;
}

.footer-copyright-text {
    text-align: center;
    padding: 0.5em;
}
