/*---upper navbar styling---*/
.nav-bar {
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-one {
    display: flex;
}

.nav-two {
    margin-right: 40px;
}

.list-inline-nav-bar-home {
    margin-right: 45px;
    margin-left: 30px;
    font-weight: 800;
    padding: 5px;
}

.list-inline-nav-bar-home:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

.list-inline-nav-bar {
    margin-right: 30px;
    padding: 5px;
}

.list-inline-nav-bar:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

.list-inline-nav-bar-book-now {
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.list-inline-nav-bar-book-now:hover {
    background-color: rgb(79, 79, 79);
}

/*---bottom navbar styling---*/
.footer-list-inline-nav-bar-the-royal-mews {
    font-weight: 800;
}

.footer-list-inline-nav-bar-the-royal-mews:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

.footer-list-inline-nav-bar:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}
    

body {
    background-color: #F2F2F2;
}
    
    
/*Homepage Welcome Section*/
    
.welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.welcome-text {
    text-align: left;
    float: left;
    margin: 5em;
}

.welcome-image {
    float: right;   
    margin: 5em;
    width: 40em;
    height: 30em;
}

/*Homepage Intro Section*/
.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.intro-text {
    text-align: left;
    float: left;
    margin: 5em;
}

.intro-image {
    float: right;   
    margin: 5em;
    width: 40em;
    height: 30em;
}

/*Homepage Suites Image Gallery*/

.suites-image-gallery-title {
    text-align: center;
}
    
.suites-image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

/*Homepage Review Section*/

.review-section {
    text-align: center;
}

/*Homepage Find Us Section*/

.find-us-section {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/*Footer Nav Bar*/

.footer-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-inline-nav-bar {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footer-list-inline-nav-bar-the-royal-mews {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

/*Footer Divider Line*/
hr {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 60%;
}

.footer-copyright-text {
    text-align: center;
    padding: 0.5em;
}
