@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

p {
    font-weight: 300;
}

/*---upper navbar styling---*/
.nav-bar {
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav-one {
    display: flex;
}

.nav-two {
    margin-right: 40px;
}

.list-inline-nav-bar-home {
    margin-right: 45px;
    margin-left: 30px;
    font-weight: 800;
    padding: 1em;
}

.list-inline-nav-bar-home:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

.list-inline-nav-bar {
    margin-right: 30px;
    padding: 1em;
}

.list-inline-nav-bar:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

.list-inline-nav-bar-book-now {
    background-color: black;
    border-radius: 5px;
    padding: 1em;
    padding-left: 15px;
    padding-right: 15px;
}

.list-inline-nav-bar-book-now:hover {
    background-color: rgb(79, 79, 79);
    font-family: 'Roboto', sans-serif;
}   

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}
    
    
/*Homepage Welcome Section*/
    
.welcome-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome-text {
    text-align: left;
    float: left;
    margin: 5em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.welcome-take-a-look-button {
    background-color: #000;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0.3em;
    text-align: center;
    width: 10em;
    height: 3em;
}

.welcome-take-a-look-button:hover {
    background-color: rgb(79, 79, 79);
    font-family: 'Roboto', sans-serif;
}   

.welcome-image {
    float: right;   
    margin: 5em;
    width: 40em;
    height: 30em;
    padding-top: 5em;
    padding-bottom: 5em;
}

/*Homepage Intro Section*/
.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.intro-text {
    text-align: left;
    float: left;
    margin: 5em;
}

.intro-image {
    float: right;   
    margin: 5em;
    width: 40em;
    height: 30em;
}

/*Homepage Suites Image Gallery*/

.suites-image-gallery-title {
    text-align: center;
}
    
.suites-image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

/*Homepage Review Section*/

.review-title {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.review-one {
    padding-left: 15em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.review-two {
    padding-left: 31em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.review-three {
    padding-left: 16em;
    padding-top: 1em;
    padding-bottom: 1em;
}


/*Homepage Find Us Section*/

.find-us-section {
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
}

/*---button styling---*/
.outline-button {
    margin-top: 100px;
    border: 2px solid black;
    padding: 1em;
    border-radius: 5px;
}

.outline-button:hover {
    background-color: rgb(196, 196, 196);
}

.small-button {
    border: 2px solid black;
    padding: 0.4em;
    border-radius: 5px;
}

.small-button:hover {
    background-color: rgb(196, 196, 196);
}

/*---suites styling---*/
.suites-title {
   margin-left: 2em;
   margin-top: 2em;
   margin-bottom: 1em;
}

.suites-one {
    display: flex;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
}

.suites-one-text {
    margin-top: 20px;
    margin-right: 120px;
}

.suites-one-text1 {
    background-color: antiquewhite;
}

.other-suites {
    text-align: center;
    padding-top: 2em;
}

.other-suites-para {
    margin-left: 25em;
    margin-right: 25em;
}

.other-suites-gallery {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.other-suites-one {
    margin: 2em;
}

/*Footer Nav Bar*/
.footer-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-inline-nav-bar {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footer-list-inline-nav-bar-the-royal-mews {
    margin: 0;
    font-weight: 900;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.footer-list-inline-nav-bar-the-royal-mews:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

.footer-list-inline-nav-bar:hover {
    background-color: rgb(196, 196, 196);
    border-radius: 5px;
}

/*Footer Divider Line*/
hr {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 60%;
}

.footer-copyright-text {
    text-align: center;
    padding: 0.5em;
}
